<html>
  <head>
    	<script>var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "flex";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none"; 
  }
  }

});
</script>
    </head>
    <body>
      <div id="myModal" class="modal">
<span class="close">&times;</span>
  <div class="modal-content">
    
    <div class="columns">
               <div class="card2">
                 <p> Scan & Pay </p>
                  <img src="qr.jpg" alt="QR Code" class="qr"><p>
muhammadzain2005 (146762134)</p>
                  <p class="contain">
                     This is the QR Code to donate to! <br/>
                     My Wallet Address: 0x3103923722e92e791e8e3De5fdC90d5b8C5282F0
                  </p>
               </div>
            </a>
         </div>
  </div>

</div>
<hr class="line3"/>
 <div class="footer">
      <div class="first-line">
        <div class="f-linkey">
          <p class="f-title">Links</p>
          <table>
<tbody>
<tr>
<td><a class="f-links" href="https://app.liquidifty.io/u/0x3103923722e92e791e8e3De5fdC90d5b8C5282F0"><span class="material-icons"> store </span> Liquidifty Marketplace</a></td>
</tr>
<tr>
<td><a class="f-links" href="https://app.airnfts.com/creators/0x3103923722e92e791e8e3De5fdC90d5b8C5282F0"><span class="material-icons"> store </span> AirNFT Marketplace</a></td>
</tr>
<tr>
<td><a class="f-links" href="https://app.airnfts.com/creators/0x3103923722e92e791e8e3De5fdC90d5b8C5282F0"><span class="material-icons"> local_cafe </span> Buy me a Coffee</a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
          </div>
        <div class="f-linkey">
          <p class="f-title">Pages</p>
          <table>
<tbody>
<tr>
<td><a class="f-links" href="https://www.pixelbyte.shop/"><span class="material-icons-outlined"> home </span> Home</a></td>
</tr>
<tr>
<td><a class="f-links" href="about"><span class="material-icons"> business </span> About Us</a></td>
</tr>
<tr>
<td><a class="f-links" href="https://www.pixelbyte.shop/#hot"><span class="material-icons"> whatshot </span> Hot & Trending</a></td>
</tr>
<tr>
<td><a class="f-links" href="#">&nbsp;</a></td>
</tr>
</tbody>
</table>
          </div>
          <div class="f-about">
          <p class="f-title">Email Us [PixelByte.nft@gmail.com] </p>
          <form action="mailto:PixelByte.nft@gmail.com" method="post" enctype="text/plain">
Name:<br>
<input class="f-form" type="text" name="name"><br>
E-mail:<br>
<input class="f-form" type="text" name="mail"><br>
Comment:<br>
<input class="f-form f-com" type="text" name="comment" width= "100%"><br><br>
<input class="f-form-button" type="submit" value="Send">
<input class="f-form-button" type="reset" value="Reset">
</form>
        </div>
              <div class="Butt" id="dono">
            <a href="https://paypal.me/muhammadzain2005?locale.x=en_US" class="hyp">
                <span>Donate <br/> Paypal</span>
            </a>
            <a>
                <span id="myBtn">Donate<br/> Crypto</span>
            </a>
        </div>
      </div>
  <div class="second-line">      
  </div>
</div>
<body>
<html>